page-topic {
    /* Tooltip container */
    .tip {
        position: relative;
        display: inline-block;
        // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tip .tiptext {
        font-size: smaller;
        visibility: hidden;
        width: 99%;
        background-color: #488aff;
        color: #fff;
        padding: 5px 5px 5px 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
    }

    .tiptext {
        left: 0;
        margin-top: 20px;
    }

    .tiptext a {
        color: lightgreen;
    }
    .tiptext a:hover {
        text-decoration: underline;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tip:hover .tiptext {
        visibility: visible;
    }
}


