feedback {
    a {
        color: white;
    }
    .feedbackLink a:link {
        color: white;
    }

    .feedbackLink a:visited {
        color: white;
    }

    .feedbackLink a:hover {
        color: gold;
    }
    .centered {
        text-align: center;
        padding-bottom: 10px;
        color: white;
        text-shadow: 2px 2px #000;
    }
}



