feedback {
    a {
        color: white;
    }
    .feedbackLink a:link {
        color: white;
    }

    .feedbackLink a:visited {
        color: white;
    }

    .feedbackLink a:hover {
        color: gold;
    }
}



