page-home {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #74BB45;
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
        margin-left: 10px;
        min-height: auto;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
        padding-left: 35px;
        padding-bottom: 4px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    .paListHeader {
        min-height: 0px !important;
    }
}
